<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LilongHero.</title>
  <!-- Mobile Specific Meta  -->
  <meta name="keywords" content="Networkmarketing,networkmarketing, +network +marketing, multilevel marketing, +multi-level +marketing,2 by 2 matrix,compensation plan,business plan,2 by 3 matrix,stages,circle-out,MLM,mlm,mlm in nigeria,list of mlm in nigeria,lilong,lilong energy healthcare products,lilong international global network,lilong investment,lilong international login,lilong cloud,lilong international compensation plan,lilong noni juice,lilong international logo,LilongHero,lilonghero,hero, " />
  <meta name="description" content="We are an Idependent distributor and store partner with liliong International...Know More">
  <meta name="storekistco" content="">
  
  <!--facebook meta tag open-->
<meta property=”og:title” content=”LilongHero” />
<meta property=”og:url” content=”https://lilongHero.com/” />
<meta property=”og:description” content=” We are an Idependent distributor and store partner with liliong International. Lets show you ways to benefit as a member....” />
<meta property=”og:image” content=”https://lilongHero.com/assets/img/socialmedia_image.png”/>

<!--facebook meta tag close-->
  <!--- Font-->
  <link rel="stylesheet" href="assets/font/stylesheet.css">
  <!-- CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Jquery ui CSS -->
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <!-- Fancybox CSS -->
  <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="assets/css/font-awosome.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="assets/flat-font/flaticon.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/css/ticker.min.css">
  <!-- Nav Menu CSS -->
  <link rel="stylesheet" href="assets/css/sm-core-css.css">
  <link rel="stylesheet" href="assets/css/sm-mint.css">
  <link rel="stylesheet" href="assets/css/sm-style.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <!-- Main StyleSheet CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Favicon -->
  <link rel="icon" href="assets/img/favicon1a.png">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  <style>
    .center p { margin-left:5px;  }
	.responsive {
  width: 100%;
  height: auto;
}
  </style>	
</head>

<body>
  <!---Preloder-->
  <div id="preloader"></div>
  <!-- /Preloder-->
    <!--Scroll Top-->
    <div class="scrollup"><i class="fas fa-long-arrow-alt-up scrollup-icon"></i></div>
    <!--Scroll Top-->

  <!-- Header Area-->
  <header class="header-area h-style1 h-style3">
    <div class="nh3-topber">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-6">
                    <ul class="ht3-list">
                        <li><a>Call Us: 08182491776 |  08073448773 </a></li>
                        <li><a >Email Us: support@lilonghero.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-6 ml-auto">
                        <ul class="ht3-list">
                            <li><a>38A, Ajanaku Street, Opebi, Ikeja, Lagos.</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
   <div class="nh3-navber">
        <div class="container">
			<div class="row">
			  <div class="col-9 col-md-10">
				<nav class="main-nav" role="navigation">
				  <!-- Mobile menu toggle button (hamburger/x icon) -->
				  <input id="main-menu-state" type="checkbox" />
				  <label class="main-menu-btn" for="main-menu-state">
					<span class="main-menu-btn-icon"></span> 
				  </label>
				  <h2 class="nav-brand"><a href="#"><img src="assets/img/logo-light1a.png" alt=""></a></h2>
				  <!-- Sample menu definition -->
				  <ul id="main-menu" class="sm sm-mint">
					<li><a href="/">Home</a>
					</li>
					<li><a href="#about">About</a>
					</li>
					<li><a href="#business_plan">Business</a>                        
					</li>
					<li><a href="#product">Product</a>
					</li>
				</ul>	
				</nav>
			  </div>
			  <div class="col-3 col-md-2">
			   <div class="nh3-nav-btn">
			   <a class="btn-1" href="https://app.lilonghero.com/products">Order</a>
			   </div>
			  </div>
			</div>
		</div>
   </div>
  </header>
  <!--/Header Area-->

  <!-- Hero Section-->
  <section class="hero-3" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-3-content">
                    <h1 class="wow fadeIn" data-wow-delay=".4s">Lilonghero.</h1>
					<h1 class="wow fadeIn" data-wow-delay=".6s"> First Energy</h1>
                    <h1 class="wow fadeIn" data-wow-delay=".8s">Medicine Ambassador</h1>
                    <p class="wow fadeIn" data-wow-delay="1s">Getting you to the peak of your energy medicine project fast.</p>
					<a class="btn-2 wow fadeIn" data-wow-delay="1.4s" href="#about">Know More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer-slide owl-carousel owl-theme">
                        <div class="item">
                            <div class="ds-img">
                               <img class="img-responsive" src="assets/img/team/SLIDER1a.png" alt="">
                            </div>
                        </div>
                        <div class="item">
							<div class="ds-img">
									<img src="assets/img/team/SLIDERb.png" alt="">
							</div>
						</div>
						
						<div class="item">
							<div class="ds-img">
									<img src="assets/img/team/SLIDERc.png" alt="">
							</div>
						</div>
                            
              <div class="item">
							<div class="ds-img">
									<img src="assets/img/team/SLIDERd.png" alt="">
							</div>
						</div>
						<div class="item">
							<div class="ds-img">
									<img src="assets/img/team/SLIDERe.png" alt="">
							</div>
						</div>
						<div class="item">
							<div class="ds-img">
									<img src="assets/img/team/SLIDERf.png" alt="">
							</div>
						</div>
                    </div>
            </div>
        </div>
    </div>
    <div class="hero-social-icon">
        <ul>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
				<li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
  </section>
  <!-- /Hero Section-->

    <section class="about-us-6" id="about">
		<div class="container">
			  <div class="row">
					  <div class="col-md-6">
						<div class="about-content">
						  <h3><strong>Lilonghero.</strong></h3>
						  <h1>Lilong International!</h1>
						  <p>TO DELIVER OUR BEST...<br>TO SHARE OPPORTUNITIES WITH ALL</p>
							<p> LiLong is an Asian health company, currently the leader in energy medicine. Which is a form of energy that stimulates THE SELF HEALING ABILITY OF OUR BODY WHEN ITS ABSORBED.  Under the leadership of chairman Zhou Qing Kai, LiLong group with the lifelong mission of promoting energy healthcare, is committed to family rehabilitation and green recuperation of chronic disease groups, seeking a set of personalized health solutions based on spectrum recuperation and supplemented by functional food.   
								</p>
							<p>LiLong’s purpose is to strive to be the first in the world in scientific research, industrial application and personnel training, and make contributions to the health and well being of all mankind.</p>

						</div>
					  </div>
					<div class="col-md-6">
					  <div class="about-img">
						<img src="assets/img/about/about-6a.png" alt="" class="wow fadeInRight" data-wow-delay=".3s">
						<img src="assets/img/bg-img/about-5-bg.png" alt="" class="abi2-bg wow zoomIn" data-wow-delay=".8s">
					  </div>
					</div>
			  </div>
    </section>

<!--- About Section-->
<section class="about-us-5" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img src="assets/img/about/about-51.png" class="wow fadeInLeft" data-wow-delay=".3s" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-content">
          <h3><strong>Lilonghero.</strong></h3>
          <h1>Things you need to know about us.</h1>
		  
            <p >Lilonghero is a team of independent distributors and stockist for lilong international. We provide useful information about energy medicine, sale and distribute the products and also provide avenue for intending distributors to register and also service already existing distributors. </p>
			
            <p>We help to ensure distributors do lilong business with ease and conveniency. We handle the process of doing business with lilong and ensure you are in line to reward for effort approriately.</p>

        </div>
      </div>
      </div>	  
    </div>
	<br><br><br><br>
	<div class="container">
	  <div class="row">
		  <div class="col-md-6">
			<div class="about-content">
			  <h3><strong>Lilonghero.</strong></h3>
			  <h1>Why Work with us!</h1>
				<p>LiLong hero has a systematic approach to the energy medicine project which is a project of 8 billion naira. At the end of this project, the ambassador will earn over 2 billion naira with the awards incentives added. To get to the peak of your project, LiLong hero have designed a system that will make the journey easily attainable. 
        </p>	
      <p>Systematic support: guiding you all the way to the peak of your project systematically is the prime job of LiLong hero.  | 
        Provision of promotional tool: reaching out to other potential ambassadors require tools, and LiLong hero makes this available for you all the way.  | 
        Energy Business Party Support fund: organizing an EBP requires funding and LiLong hero provides you with enough funds to enable you build your business.  |    
        online platform for easy ambassador making: while at one part of the world, through our online platform, you can effectively make ambassadors globally. | 
        Talent management; creating educative and growth programmes..Harnessing human intelligence to develop into a team leader.</p>

			</div>
		  </div>
		  <div class="col-md-6">
		  <div class="about-img">
			<img src="assets/img/about/about-7b.png" alt="" class="wow fadeInRight" data-wow-delay=".3s">

		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
  <!--- End About Section-->
  
      <!-- About 6 Section-->
    <section class="about-us-6"  id="business_plan">
        <div class="container">		
	<div class="container" >
	  <div class="row">
		  <div class="col-md-6">
			<div class="about-content">
			  <h3><strong>Lilonghero.</strong></h3>
			  <h1>Our Business Opportunity to you - UTIBE!</h1>
				<p>A success system that never fail- UTIBE. Adopting the concept of little drops of water  makes a mighty ocean, LILONG heroes introduces UTIBE unified team investment business evolution.  A business system where a one time investment generates a lifetime of residual income. UTIBE assures partners of weekly income upto $100,000 (N45MILLION) from a onetime investment of even the lowest LILONG package of $200 (N90,000). LILONG IS AN ASIAN HEALTH PRODUCT COMPANY - THE LEADER IN ENERGY MEDICINE. 
					</p>
				<p>This business system -UTIBE, guarantees partners starts earning even before they start promoting. Join this week with the lowest package (N90,000) and start earning by the following week from $113(N51,000) no need to refer anyone at this point. No need to sale any product also. After this first stage, Organise a business party sponsored by UTIBE and then enjoy a non stop continuous weekly income up to $10,000(N4.5m).</p>

			</div>
		  </div>
		  <div class="col-md-6">
		  <div class="about-img">
			<img src="assets/img/about/about-7bb.png" alt="" class="wow fadeInRight" data-wow-delay=".3s">
			<img src="assets/img/bg-img/about-5-bg.png" alt="" class="abi2-bg wow zoomIn" data-wow-delay=".8s">

		  </div>
		</div>
	  </div>
	</div>
      </section>
    <!-- /About 6 Section-->
	<section class="recent-Work">
		<div class="col-md-12">
			<div class="about-content text-center">
				<h3><strong>UTIBE Development Stage.</strong></h3>
				<h1><strong>Stage 1 - ₦30,000</strong></h1>
				<img src="assets/img/earning.png" style="width:900px;height:auto;" class="responsive" >
			</div>			
		</div>
	</section>
	<section class="recent-Work">
		<div class="col-md-12">
			<div class="about-content text-center">
				<h3><strong>UTIBE Elite Bonus.</strong></h3>
				<img src="assets/img/elite.jpeg" style="width:900px;height:auto;" class="responsive" >
			</div>		
		</div>
	</section>
	<section class="recent-Work">
		<div class="col-md-12">
			<div class="about-content text-center">
				<h3><strong>UTIBE Sponsor Bonus.</strong></h3>
				<img src="assets/img/sponsor.jpeg" style="width:900px;height:auto;" class="responsive" >
			</div>		
		</div>
	</section>
				
	    <!----Recent Work Section-->
  <section class="recent-Work">
    <div class="col-md-12">
		<div class="about-content text-center">
			<h3><strong>6 Ways To Earn With UTIBE.</strong></h3>
			<h1><strong>Unified Team Investment Business Evolution</strong></h1>
			<p> As you Organise your business parties and others also Organise theirs,<br> your weekly income continues to increase until you’ll achieve a weekly income of over N100MILLION.<br> And you’ll achieve all the awards of this business system. </p>
		</div>	
	</div>

    <div class="fortfolio-slide-1 owl-carousel owl-theme">
      <div class="item">
        <div class="rb-img">
          <img src="assets/img/portfolio/1.jpg" alt="">
        </div>
      </div>
      <div class="item">
        <div class="rb-img">
          <img src="assets/img/portfolio/2.jpg" alt="">
        </div>
      </div>
      <div class="item">
        <div class="rb-img">
          <img src="assets/img/portfolio/3.jpg" alt="">
        </div>
      </div>

      <div class="item">
        <div class="rb-img">
          <img src="assets/img/portfolio/4.jpg" alt="">
        </div>
      </div>
	  
	  <div class="item">
        <div class="rb-img">
          <img src="assets/img/portfolio/5.jpg" alt="">
        </div>
      </div>
	  
	 <div class="item">
        <div class="rb-img">
          <img src="assets/img/portfolio/6.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- /Recent Blog Section-->

	<div class="col-md-12">
		<div class="about-content text-center">
			<h3><strong>UTIBE. Are you Interested?</strong></h3>
			<h1><strong>Fill the form below, become a member.</strong></h1>
			<h3><strong>Team Up and Invest</strong></h3>
		</div>	
	</div><br>
	
<!--/ Client Feedback-->
	<section class="subscrive">
		<div class="container">
			<!-- <form>
				<div class="row">
				  <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder="Your Full Name" onfocus="this.placeholder=''"
					  onblur="this.placeholder='Your Full Name'">
				  </div> 
				  <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder=" Your Email Address" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Your Email Address'">
				  </div> 				  
          <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder=" Your Phone Number" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Your Phone Number'">
				  </div> 				  
          <div class="col-md-12 form-group">
					<input type="text" class="form-control" placeholder=" Your Address" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Your Address'">
				  </div> 				  <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder="Package" onfocus="this.placeholder=''"
					  onblur="this.placeholder='Select Package'">
				  </div> 
				  <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder=" Amount Paid" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Amount Paid'">
				  </div> 
				  <div class="col-md-4 form-group">
				    <input type="date" id="start" class="form-control " style="" name="trip-start" required  onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Date'">
				  </div> 
				  <div class="col-md-6 form-group">
						<select name="bank_name" class="form-control" onfocus="this.placeholder=''"
					  onblur="this.placeholder='Bank'">
							<option value="">Select Bank</option>
							<option value="First Bank">First Bank </option>
							<option value="Guaranty Trust Bank">Guaranty Trust Bank </option>
							<option value="Zenith Bank">Zenith Bank </option>
							<option value="Stanbic IBTC Bank">Stanbic IBTC Bank </option>
							<option value="Access Bank">Access Bank (Diamond)</option>
							<option value="Ecobank Bank">Ecobank Bank </option>
							<option value="Fidelity Bank">Fidelity Bank </option>
							<option value="Access Bank">Access Bank </option>
							<option value="Unity Bank Plc">Unity Bank Plc</option>
							<option value="Skye Bank">Skye Bank </option>
							<option value="Keystone Bank Limited "> Keystone Bank Limited  </option>
							<option value="First City Monument Bank">First City Monument Bank </option>
							<option value="Wema Bank"> Wema Bank  </option>
							<option value="Citibank">Citibank</option>
							<option value="Standard Chartered Bank">Standard Chartered Bank </option>
							<option value="Heritage Bank Plc"> Heritage Bank Plc  </option>
							<option value="BNI"> BNI  </option>
							<option value="United Bank for Africa"> United Bank for Africa </option>
							<option value="Savanna Bank">Savanna Bank  </option>
							<option value="Sterling Bank">Sterling Bank  </option>
							<option value="Societe Generale"> Societe Generale  </option>
							<option value="NSIA Banque agnence"> NSIA Banque agnence </option>
							<option value="Union Bank"> Union Bank </option>
							<option value="Polaris Bank"> Polaris Bank </option>
							<option value="Union Bank"> Union Bank </option>
						</select> 
				  </div> 
				  <div class="col-md-6 form-group">
					<input type="text" class="form-control" placeholder="Account Number" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Account Number'">
				  </div> 
					<br><br>	
					<div class="col-md-6 form-group">
					<input type="text" class="form-control" placeholder="Sponsor Name" onfocus="this.placeholder=''"
					  onblur="this.placeholder='Sponsor Name'">
				  </div> 
				  <div class="col-md-6 form-group">
					<input type="text" class="form-control" placeholder="Sponsor Username" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Sponsor Username'">
				  </div> 
				  <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder=" Sponsor Phone Number" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Sponsor Phone Number'">
				  </div> 	
				  <div class="col-md-4 form-group">
					<input type="text" class="form-control" placeholder="Sponsor Email" onfocus="this.placeholder=''"
					  onblur="this.placeholder=' Sponsor Email'">
				  </div> 					  
				  <div class="col-md-4 form-group">
					<button type="submit" class="btn btn-primary btn-block sub-btn" disabled> Register </button> 
				  </div> 
				</div> 
			</form> -->
		</div>	
	</section>	


    <!--- Service Section-->
  <section class="service service-page" id="product">
  <br>
     <div class="cf-top">
    <h1 class="wow fadeInUp" data-wow-delay=".5s"><strong>Lilong Products.</strong></h1>
    <p class="wow fadeIn" data-wow-delay=".8s">As you continue growing in utibe and qualifying for these awards,<br> we encourage you to consistently use the products from LILONG as that will ensure  you remained healthy to enjoy your financial success. <br>
Here are some of the best natural products from LILONG group for your healthy consumption.</p>
   </div>
   <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".1s">
            <div class="ss-icon ss-icon2">
              <img src="assets/img/slide/1.png" alt="">
            </div>
            <div class="ss-content">
              <h3>Lilong Noni Juice</h3><br>
			  <div class="text-center"><img src="assets/img/slide/noni.jpeg"></div>
				 <h3>Health Benefits of <br>Lilong Noni Juice</h3>		  
              <p align="left">It replenishes the body, improve brain power and resistance to mental illness | Eye nutrition | Rich nutrient to supplement the deficiency of daily food intake | It contain varity of enzyme which are helpful for digestion | Anti-bacterial/anti-fungal,anti-viral | It promotes sleep and regulate bllod pressure | It help to flush dirt out of the body | Analgesic | Imune system booster | Ant-depresant/sedatives | Skin/hair care | Anti-turmoil/Anti-cancer.
			  </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".5s">
            <div class="ss-icon ss-icon2">
              <img src="assets/img/slide/2.png" alt="">
            </div>
            <div class="ss-content">
              <h3>Lilong Kingman Pressed Candy</h3>
			  <div class="text-center"><img src="assets/img/slide/kingman.png">
				 <h3>Health Benefits of<br>Lilong Kingman Pressed Candy</h3>		  
              <p align="left"> Nourishes the Kidney | Eliminate blood stasis | Anti-fatigue | Boost immunity | Activate hormone secretion | Relieve erectile dysfunction | Increase sexual desire | Relieve waist pain and more.</p>
			  </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".8s">
            <div class="ss-icon ss-icon2">
              <img src="assets/img/slide/3.png" alt="">
            </div>
            <div class="ss-content">
              <h3>Lilong Hydrogen Rich Water Flask</h3>
			  <div class="text-center"><img src="assets/img/slide/flask.png">
				 <h3>Health Benefits of<br>Lilong Hydrogen Rich Water Flask</h3>		  
              <p align="left"> It improves skin quality | It reduces inflamation | Bidirectional of blood viscosity | Protec human body from electromagnetic wave | Burn fat and loose weight | Act as insulin | It promotes good microbe in the gut | It lower muscle degeneration | Increase men sperm count | Improve ovum quality | Anti-aging | Anti-wrinkle.</p>
			  </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".1s">
            <div class="ss-icon ss-icon2">
              <img src="assets/img/slide/4.png" alt="">
            </div>
            <div class="ss-content">
              <h3>Lilong Far Infrared Spectrum Energy</h3>
			  <div class="text-center"><img src="assets/img/slide/room.png">
			  <h3 align="left">Health Benefits of<br>Lilong Far Infrared Spectrum Energy</h3>
              <p align="left"> Regulates,supplement and balance the bio-electricity of human body | Diversified trace element | Activate cells | Expel dampness and hazardous substances from the body | Release of negative ions | Analgesic and anti-phlogistic activities | Promote blood circulation | Aid sleep | Accelerate metabolism | Activate Bio-activity | Relieves fatigue and more.</p>
			  </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".5s">
            <div class="ss-icon ss-icon2">
              <img src="assets/img/slide/5.png" alt="">
            </div>
            <div class="ss-content">
              <h3>Lilong Black Soybean Powder</h3>
			  <div class="text-center"><img src="assets/img/slide/soybean.png">
			  <h3 align="left">Health Benefits of<br>Lilong Black Soybean Powder</h3>
              <p align="left"> Black Soybean Powder is a type of bean that contain antioxidants and phytonutrients that are linked to various health benefits. To vegetarians and vegans, soybean is an important sources of protein. <br><br> It relieves constipation and normalize bowel movement | It nourishes and repair the body | It reduces cholestrol level | It help to control the blood level.</p>
			  </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".8s">
            <div class="ss-icon ss-icon2">
              <img src="assets/img/slide/6.png" alt="">
            </div>
            <div class="ss-content">
              <h3>Lilong Noni Berry Enzyme</h3>
			  <div class="text-center"><img src="assets/img/slide/berry.png">
			  <h3 align="left">Health Benefits of<br>Lilong Noni Berry Enzyme</h3>
              <p align="left">It replenishes the body, improve brain power and resistance to mental illness | Eye nutrition | Rich nutrient to supplement the deficiency of daily food intake | It contain varity of enzyme which are helpful for digestion | Anti-bacterial/anti-fungal,anti-viral | It promotes sleep and regulate bllod pressure | It help to flush dirt out of the body | Analgesic | Imune system booster | Ant-depresant/sedatives | Skin/hair care | Anti-turmoil/Anti-cancer.
			  </p>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
	<div class="client-feedback client-feedback-2">
		<div class="cf-top">
			<h3 class="wow fadeInUp" data-wow-delay=".4s" style="color:#17a2b8;"><strong>Make Your Order!</strong></h3>
			<h1 class="wow fadeInUp" data-wow-delay=".5s"><strong>Click The Button Below To Order</strong></h1>
		  <a class="btn-2 wow fadeIn" data-wow-delay="1.4s" href="https://app.lilonghero.com/products">Order Now</a>
	   </div>
	</div>   
  </section>
  <!--- End Service Section-->
	
 
<!-- Footer Details-->
<section class="footer-details"> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="f-details">
         <a href="#"> <img src="assets/img/logo1a.png" class="wow fadeIn" data-wow-delay=".1s" alt=""></a>
        </div>

      </div>
      <div class="col-md-2">
          <div class="f-details">
            <h3>Links:</h3>
            <ul>
			  <li class="wow fadeInUp" data-wow-delay=".2s"><a href="#about">About us</a></li>
              <li class="wow fadeInUp" data-wow-delay=".6s"><a href="#business_plan">Business</a></li>
              <li class="wow fadeInUp" data-wow-delay="1.4s"><a href="#product">Products</a></li>
            </ul>
          </div>
      </div>
      <div class="col-md-2">
          <div class="f-details">
              <h3>Company:</h3>
              <ul>
                 <li class="wow fadeInUp" data-wow-delay=".6s">38A, Ajanaku Street, Opebi, Ikeja, Lagos. </li>
              </ul>
            </div>
      </div>
      <div class="col-md-4">
          <div class="f-details">
			  <h3>Contact:</h3>
			  <ul>
				<li class="wow fadeInUp" data-wow-delay=".2s">Phone:<br> +234(0)8182491776<br> +234(0)8073448773  </li>
				<li class="wow fadeInUp" data-wow-delay=".4s">Email: support@lilonghero.com</li>

			  </ul>
        </div>
            </div>
      </div>
    </div>
  </div>
</section>
<!-- /Footer Details-->

<!-- Footer Section-->

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <br><br><br><br><br>
  <div class="modal-dialog" style="overflow:auto !important;">
      <div class="modal-content">
      <div class="card">
        <div class="card-header">
            <h4 class="text-center"><img src="assets/img/logo1a.png"></h4>
            <h4 class="text-center"><% if(msg.option=='enable') { %> <%=msg.subject%> <% } %></h4>
        </div>
        <div class="card-body">
        <div class="ibox-content modalContent" id="modalContent">
          <% if(msg.option=='enable') { %> <%=msg.message%> <% } %>
        </div>
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>

<footer>
  <p class="wow fadeInUp" data-wow-delay=".4s">	&#169; Copyright <%= new Date().getYear()  %> All Rights Reserved By 
    <a href="https://lilonghero.com/">Lilonghero.</a>
  </p>
</footer>

<!-- /Footer Section-->
  <!--- Scripts -->
  
  
  <!-- jQuery Plugin -->
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <!-- Owl Carousel Plugin -->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Main Counterup Plugin-->
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/shuffle.js"></script>
  <script src="assets/js/jquery.fancybox.min.js"></script>
  <script src="assets/js/ticker.min.js"></script>

  <!--  Nav  -->
  <script src="assets/js/jquery.smartmenus.js"></script>
  <!--  Type Js -->
  <script src="assets/js/typed.js"></script>
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- WOW JS Plugin-->
  <script src="assets/js/wow.min.js"></script>
  <!-- Chart Js Script -->
  <script src="assets/js/Chart.min.js"></script>
  <!-- Chart Active Script -->
  <script src="assets/js/chart-activetion.js"></script>
  <!-- Main Script -->
  <script src="assets/js/theme.js"></script>

  <script type="text/javascript">
    <% if(msg.option=='enable') { %>
        $('#logoutModal').modal('show');
    <% }else { %>
      <% } %>
  </script>

</body>
</html>